In [2]:
import pandas as pd
#Using Python dictionary prepare data
data={'Name':['BIll','dan','Tony','Mark'], 'Age':[28,29,31,27],'Salary':[2000,2500,2100,2200]}
obj=pd.DataFrame(data)
print(obj)

   Name  Age  Salary
0  BIll   28    2000
1   dan   29    2500
2  Tony   31    2100
3  Mark   27    2200

In [4]:
#Prints data of a specific column
print(obj['Age'])
#Or
#print(obj.Age)

0    28
1    29
2    31
3    27
Name: Age, dtype: int64

In [5]:
print(obj.columns)

Index(['Name', 'Age', 'Salary'], dtype='object')

In [6]:
#REturns data as a 2D array
print(obj.values)

[['BIll' 28 2000]
 ['dan' 29 2500]
 ['Tony' 31 2100]
 ['Mark' 27 2200]]

In [11]:
#Drops a specific row
print(obj.drop(1))
#Drops a specific COlumn
print(obj.drop('Age', axis=1))

   Name  Age  Salary
0  BIll   28    2000
2  Tony   31    2100
3  Mark   27    2200
   Name  Salary
0  BIll    2000
1   dan    2500
2  Tony    2100
3  Mark    2200

In [12]:
#Indexing and selection  
#Gives specified indexing to your rows
data=pd.DataFrame(data, index=['emp1','emp2','emp3','emp4'])
print(data)

      Name  Age  Salary
emp1  BIll   28    2000
emp2   dan   29    2500
emp3  Tony   31    2100
emp4  Mark   27    2200

In [14]:
#INdexing Format 
#data[rows, column]

#1.COlumn Selection

#If we know the column name
print(data[['Age','Name']])
print(data.loc[:,['Age','Name']])
#print(data.ix[:,['Age','Name']])

#If we dont know the column name
print(data.iloc[:,[0,1]])

      Age  Name
emp1   28  BIll
emp2   29   dan
emp3   31  Tony
emp4   27  Mark
      Age  Name
emp1   28  BIll
emp2   29   dan
emp3   31  Tony
emp4   27  Mark
      Name  Age
emp1  BIll   28
emp2   dan   29
emp3  Tony   31
emp4  Mark   27

In [21]:
#Row Selection 
#If we know the index name
#prints indexes 0,1,2
print(data.loc['emp1':'emp3',:])

#If we dont know the index name
#prints indexes 0 and 1 excludes the last one
print(data.iloc[0:2,:])

      Name  Age  Salary
emp1  BIll   28    2000
emp2   dan   29    2500
emp3  Tony   31    2100
      Name  Age  Salary
emp1  BIll   28    2000
emp2   dan   29    2500

In [24]:
#Mixed Selection
print(data.loc['emp1':'emp3',['Name','Age']])

      Name  Age
emp1  BIll   28
emp2   dan   29
emp3  Tony   31

In [25]:
#Print row number 0,2,3 and column number 0 and 2
print(data.iloc[[0,2,3],[0,2]])

      Name  Salary
emp1  BIll    2000
emp3  Tony    2100
emp4  Mark    2200

In [26]:
#FIlTERING DATA
#Prints name and salary of those whose age is greater than 28
print(data.loc[data.Age>28,['Name','Salary']])

      Name  Salary
emp2   dan    2500
emp3  Tony    2100

In [27]:
#DESCRIPTIVE STATISTICS
#prints multiple statistics
print(data.describe())

             Age      Salary
count   4.000000     4.00000
mean   28.750000  2200.00000
std     1.707825   216.02469
min    27.000000  2000.00000
25%    27.750000  2075.00000
50%    28.500000  2150.00000
75%    29.500000  2275.00000
max    31.000000  2500.00000

In [28]:
#Print mean of salaries
print(data.loc[:,'Salary'].mean())

2200.0

In [29]:
#Print minimum age of employee
print(data.loc[:,'Age'].min())

27

In [32]:
#HANDLING MISSING DATA
from numpy import NaN
data=pd.DataFrame([[2.3,3.3,NaN],[7.5,NaN,9.8],[NaN,2.2,6.8],[5.6,9.2,7.4],[NaN,NaN,NaN]])

#Filtering Missing Data
#Drop rows with null values
print(data.dropna())

     0    1    2
3  5.6  9.2  7.4

In [33]:
#Drop row with all null values
print(data.dropna(how='all'))

     0    1    2
0  2.3  3.3  NaN
1  7.5  NaN  9.8
2  NaN  2.2  6.8
3  5.6  9.2  7.4

In [38]:
#Filling Missing data
#Fill null values with zero
print(data.fillna(0))

     0    1    2
0  2.3  3.3  0.0
1  7.5  0.0  9.8
2  0.0  2.2  6.8
3  5.6  9.2  7.4
4  0.0  0.0  0.0

In [40]:
#Fill null values with mean
from numpy import mean
print(data.fillna(mean(data)))

          0    1    2
0  2.300000  3.3  8.0
1  7.500000  4.9  9.8
2  5.133333  2.2  6.8
3  5.600000  9.2  7.4
4  5.133333  4.9  8.0

In [41]:
#Null values for specific column
print(data.fillna({0:2.5,1:3.0,2:5.5}))

     0    1    2
0  2.3  3.3  5.5
1  7.5  3.0  9.8
2  2.5  2.2  6.8
3  5.6  9.2  7.4
4  2.5  3.0  5.5

In [44]:
#Reading and writing files
#Read CSV File
data=pd.read_csv('tv_shows.csv')
#Print top 5 rows
print(data.head())
#Saves the dataframe to a csv file
pd.DataFrame(data).to_csv('myfile.csv')

   Unnamed: 0             Title  Year  Age  IMDb Rotten Tomatoes  Netflix  \
0           0      Breaking Bad  2008  18+   9.5             96%        1
1           1   Stranger Things  2016  16+   8.8             93%        1
2           2       Money Heist  2017  18+   8.4             91%        1
3           3          Sherlock  2010  16+   9.1             78%        1
4           4  Better Call Saul  2015  18+   8.7             97%        1

   Hulu  Prime Video  Disney+  type
0     0            0        0     1
1     0            0        0     1
2     0            0        0     1
3     0            0        0     1
4     0            0        0     1